{% extends 'blog/base.html' %}

{% block title %} {{ post.seo_title}}{% endblock %}

{% block content %}

        <h2>{{ post.title }}</h2>
        <p> Written by {{ post.author }} on {{post.published}}</p>
        <hr>
        {{post.content|linebreaks}}
        <hr>
        <h1>Leave a comment</h1>
        <p> Total number of Comments {{ post.all_comments.count }} </p>
        <a href="{% url 'blog:add_comment' slug=post.slug%}"/> write comment here </a>

        {% for comment in post.all_comments.all %}

            <p>{{ comment.created }}</p>
            <p>{{ comment.user}}</p>
            <p>{{ comment.body}}</p>
        {% empty %}
            <p>There is no comments</p>
        {% endfor %}
{% endblock %}