{% extends 'blog/base.html' %}

{% block description %} {{ post.description}}{% endblock %}
{% block title %} {{ post.seo_title}}{% endblock %}

{% block content %}
<div class="row">
        <div class="col-md-8">
        <div class="page-header">
           <h1>{{ post.title}}</h1>
        </div>
        <small> Written by {{ post.author }} on {{post.published}}
            in
            <a href="{{ post.category.get_absolute_url}}">{{post.category}}</a></small>
        <hr>
        {{post.content|linebreaks}}
        <hr>
        <h1>Leave a comment</h1>
        <p> Total number of Comments {{ post.all_comments.count }} </p>
        <a href="{% url 'blog:add_comment' slug=post.slug%}"/> write comment here </a>

        {% for comment in post.all_comments.all %}

            <p>{{ comment.created }}</p>
            <p>{{ comment.user}}</p>
            <p>{{ comment.body}}</p>
        {% empty %}
            <p>There is no comments</p>
        {% endfor %}
            </div>
</div>
{% endblock %}