apt-clone==0.2.1
apt-xapian-index==0.47
apturl==0.5.2
blinker==1.3
Brlapi==0.6.4
certifi==2018.1.18
chardet==3.0.4
click==6.7
command-not-found==0.3
cryptography==3.2
defer==1.0.6
dirspec==13.10
Django==1.11.29
django-classy-tags==0.8.0
django-cms==3.5.1
django-filer==1.3.0
django-formtools==2.1
django-mptt==0.8.7
django-polymorphic==1.3
django-sekizai==0.10.0
django-treebeard==4.2.1
django-user-agents==0.3.2
django-widget-tweaks==1.4.1
djangocms-admin-style==1.2.7
djangocms-attributes-field==0.3.0
djangocms-column==1.7.0
djangocms-file==2.0.2
djangocms-googlemap==1.1.1
djangocms-link==2.1.2
djangocms-picture==2.0.6
djangocms-snippet==2.0.0
djangocms-style==2.0.2
djangocms-text-ckeditor==3.5.3
djangocms-video==2.0.4
easy-thumbnails==2.5
Flask==1.0
Flask-Script==2.0.6
html5lib==0.9999999
httplib2==0.18.0
idna==2.6
itsdangerous==0.24
Jinja2==2.10.1
louis==2.6.4
lxml==4.6.2
Mako==1.0.3
MarkupSafe==1.0
oauthlib==1.0.3
onboard==1.2.0
oneconf==0.3.9
pexpect==4.0.1
Pillow==7.1.0
piston-mini-client==0.7.5
psutil==5.6.6
psycopg2==2.7.4
psycopg2-binary==2.7.4
ptyprocess==0.5
pyasn1==0.1.9
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0
pygobject==3.20.0
PyICU==1.9.2
PyJWT==1.3.0
python-apt==1.1.0b1+ubuntu0.16.4.2
python-debian==0.1.27
python-xapp==1.0.0
pytz==2018.3
pyxdg==0.26
PyYAML==5.1
reportlab==3.5.1
requests==2.20.0
sessioninstaller==0.0.0
setproctitle==1.1.8
six==1.11.0
system-service==0.3
thin-client-config-agent==0.8
ua-parser==0.8.0
ubuntu-drivers-common==0.0.0
ufw==0.35
Unidecode==0.4.21
urllib3==1.24.2
user-agents==1.1.0
virtkey==0.63.0
Werkzeug==0.15.3
xkit==0.0.0
